<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
	<style>
		h2 { text-align: center; }
		div { width: 400px; margin: 10px auto; }
		label{ width: 100%; display: inline-block; }
		input, textarea{ width: 100%; display: inline-block; }
		select{height: 102% ;width: 102%;}
		#send{ margin: 40px auto 0 auto; display: block; width: 50px; }
	</style>
</head>
<body>
	<h2>TSP:Data Request-2</h2>
	<form id="signup" method="POST" action="http://172.18.0.1:3000/request">
		<div><label for="name">TSP單位名稱:</label><input type="text" name="name" id="name"></div>
		<div><label for="pubkey">TSP公鑰:</label><input type="text" name="pubkey" id="pubkey"></div>
		<div><select name="provider">
			<option value=""selected>索取資料之廠商</option>
			<option value="apple">Apple</option>
			<option value="google">Google</option>
			<option value="garmin">Garmin</option>
			<option value="idk">idk</option>
		</select></div>
		<div><label for="user_pubkey_list">資料提供者之公鑰列表:</label><input type="text" name="user_pubkey_list" id ="user_pubkey_list"></div>
		<div><label for="collection_type">要求資料屬性:</label><input type="text" name="collection_type" id="collection_type"></div>
		<input id="send" type="submit" value="送出">
	</form>
</body>
</html>
